name: Build phina.js docs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *' # At 00:00 on day-of-month 1

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler: none

      - name: Install jsduck
        run: gem install jsduck --no-document

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: phinajs/phina.js
          path: phina.js

      - name: Build docs
        working-directory: phina.js
        run: jsduck src --output ./docs --title "phina.js docs"

      - name: Configure pages
        uses: actions/configure-pages@v5

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: phina.js/docs

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
